In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random as rd
%matplotlib inline

dataset=pd.read_csv('CollegeLake_Exam_scores.csv')
dataset.head()

,score_id,gre_score,toefl_and_ielts_scores,quants_score,verbal_score,cgpa
0,2021001,331,115,168,157,3.8
1,2021002,321,104,165,153,3.8
2,2021003,313,103,169,145,3.9
3,2021004,329,112,155,152,3.7
4,2021005,310,110,155,157,3.6

In [17]:
dataset.describe()
X = dataset.iloc[:,[5,1]].values
print(X)

[[  3.8 331. ]
 [  3.8 321. ]
 [  3.9 313. ]
 [  3.7 329. ]
 [  3.6 310. ]
 [  3.9 316. ]
 [  3.9 324. ]
 [  3.8 329. ]
 [  3.9 326. ]
 [  3.7 309. ]
 [  3.6 321. ]
 [  3.6 315. ]
 [  3.8 310. ]
 [  3.5 300. ]
 [  3.2 321. ]
 [  3.8 300. ]
 [  3.5 310. ]
 [  3.2 297. ]
 [  3.5 318. ]
 [  3.7 311. ]
 [  3.6 322. ]
 [  3.5 298. ]
 [  3.8 322. ]
 [  3.8 305. ]
 [  3.8 305. ]
 [  3.7 324. ]
 [  3.9 316. ]
 [  3.7 324. ]
 [  3.7 325. ]
 [  3.9 323. ]
 [  3.4 321. ]
 [  3.8 307. ]
 [  3.7 307. ]
 [  3.7 318. ]
 [  3.8 307. ]
 [  3.8 316. ]
 [  3.3 308. ]
 [  3.5 305. ]
 [  3.2 332. ]
 [  3.4 312. ]
 [  3.6 306. ]
 [  3.4 322. ]
 [  3.9 301. ]
 [  3.4 313. ]
 [  3.9 301. ]
 [  3.8 312. ]
 [  3.9 322. ]
 [  3.8 332. ]
 [  3.7 320. ]
 [  3.4 323. ]
 [  3.7 325. ]
 [  3.5 320. ]
 [  3.7 325. ]
 [  3.7 318. ]
 [  3.5 314. ]
 [  3.4 307. ]
 [  3.7 312. ]
 [  3.4 309. ]
 [  3.3 320. ]
 [  3.4 299. ]
 [  3.8 324. ]
 [  3.9 325. ]
 [  3.8 310. ]
 [  3.6 311. ]
 [  3.9 329. ]
 [  3.4 319. ]
 [  3.9 311. ]
 [  3.8 321. ]
 [  3.6 322. ]
 [  3.8 314. ]
 [  3.9 316. ]
 [  3.7 313. ]
 [  3.8 303. ]
 [  3.3 315. ]
 [  3.9 313. ]
 [  3.9 317. ]
 [  3.7 317. ]
 [  3.4 303. ]
 [  3.9 317. ]
 [  3.2 314. ]
 [  3.9 317. ]
 [  3.9 317. ]
 [  3.9 317. ]
 [  3.4 302. ]
 [  3.3 284. ]
 [  3.7 316. ]
 [  3.3 301. ]
 [  3.7 316. ]
 [  3.7 316. ]
 [  3.8 309. ]
 [  3.9 315. ]
 [  3.6 333. ]
 [  3.8 321. ]
 [  3.9 308. ]
 [  3.6 328. ]
 [  3.4 296. ]
 [  3.7 306. ]
 [  3.7 306. ]
 [  3.7 306. ]
 [  3.4 296. ]]

In [19]:
m = X.shape[0]  # training data size
n = X.shape[1]  # training variables
n_iter = 100

print(m)
print(n)

100
2

In [21]:
K=5 #clusters

Centroid = np.array([]).reshape(n, 0)
print(Centroid)

[]

In [ ]:
for i in range(K):
    rand = rd.randint(0, m-1)
    Centroid = np.c_[Centroid, X[rand]]